body {
	background-color: PowderBlue;
}
h1 {
	color:#0000ff;
}
table {
	border: 2px solid black;
}
label {
	color: blue;
}

/* class to center a table */
.center {
	margin-left: auto;
	margin-right: auto;
}
