body {
	background-color: PowderBlue;
}
h1, h2, h3 {
	color:#0000ff;
}
table {
	/* border: 2px solid black; */
}
label {
	color: blue;
}

/* class to center a table */
.center {
	margin-left: auto;
	margin-right: auto;
}

/* class for data entry box */
#debox {
	margin-left: 10%;
	margin-right: 20%;
	background-color: lightgrey;
}

#dataentrybox {
	/* margin: 10px; */
	width: 55%;
	/* padding: 10px; */
	height: 220px;
	border: 5px solid #000;
	float: left;
	background-color: #a0d9ff;
}

#resultbox {
	margin-left: 60%;
	height: 220px;
	/* padding: 10px; */
	border: 5px solid #000;
	background-color: lightgrey;
}

#statusmessagebox {
	margin: 10px;
	float: down;
	width: 100%;
	border: 2px solid black;
/*	background-color: white; */
}
