body {
	background-color: PowderBlue;
}
h1, h2, h3 {
	color:#0000ff;
}
table {
	/* border: 2px solid black; */
}
label {
	color: blue;
}
#dataentrybox, #resultbox {
	border: 5px solid black;
	padding: 10px;
}

#statusmessagebox {
	border: 2px solid black;
	padding: 10px;
}
/* class to center a table */
.center {
	margin-left: auto;
	margin-right: auto;
}

/* class for data entry box */
#dataentrybox {
	float: left;
	width: 400px;
	height: 220px;
	background-color: green;
}

#resultbox {
	margin-left: 440px;
	width: 300px;
	height: 220px;
	background-color: lightgrey;
}

#statusmessagebox {
	margin-top: 20px;
	width: 746px;
	text-align: center;
/*	background-color: white; */
	clear: left;
}
#main {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}
